MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/coinbase_clone?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
CLIENT_URL=http://localhost:3000
NODE_ENV=development
PORT=5000
